import styles from './{{pascalCase name}}.module.scss'

const {{pascalCase name}} = () => {
	return (
		<div className={styles.container}>
			<h1>{{pascalCase name}}</h1>
		</div>
	)
}

export default {{pascalCase name}}